<div class="container mt-5">

    <form [formGroup]="gameForm">
    <h2 >New Game</h2>
    <div class="form-group">
        <input type="text" formControlName="gameName" class="form-control" placeholder="Game Name">

        <span class="text-danger" *ngIf="gameForm.hasError('required','gameName')&& gameForm.get('gameName').touched">this field is required!</span>

        <input type="text" class="form-control mt-4"  placeholder="Bundle" formControlName="bundle" >
        <span class="text-danger" *ngIf="gameForm.hasError('pattern','bundle')">bundle is not valid!</span>

        <input type="text" class="form-control mt-4"  placeholder="Owner" formControlName="owner">
        <span class="text-danger" *ngIf="gameForm.hasError('email','owner')" >email is not valid!</span>
        <br>
        <input type="file" accept="image/*" (change)="showPreview($event)"/>
        <!-- <input type="file" class="mt-4" id="file" accept="image/*" formControlName="chooseFile" (onChange)="showPreview($event)"> -->

        <button class="btn btn-info" style="margin-left: 898px; background-color:aquamarine; border-radius: 50px; width: 100px; height: 50px;" (click)="gameAddForm()" routerLink=""  [disabled]="!gameForm.valid">save</button>
        
      </div>
    </form>
</div>